*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
eskimo-invoker/.idea/
eskimo-invoker/eskimo-invoker.iml
eskimo-invoker/src/test/
eskimo-invoker/target/
eskimo-server/.idea/
eskimo-server/eskimo-server-core/eskimo-server-core.iml
eskimo-server/eskimo-server-core/target/
eskimo-server/eskimo-server-storage/eskimo-server-storage.iml
eskimo-server/eskimo-server-storage/src/main/resources/
eskimo-server/eskimo-server-storage/target/
eskimo-server/eskimo-server-web/eskimo-server-web.iml
eskimo-server/eskimo-server-web/target/
eskimo-server/eskimo-server.iml
eskimo.iml
