
<contest-toolbar [contestId]="contestId"></contest-toolbar>
<div class="container">
    <div class="row">
        <table
                class="table table-striped table-bordered"
                style="color: black; text-align: center;"
                *ngIf="dashboard != null && problems != null && contest != null">
            <thead>
            <tr>
                <th>#</th>
                <th style="text-align: left">User</th>
                <th>Score</th>
                <th *ngIf="contest.scoringSystem == 'ACM'">Penalty</th>
                <th *ngFor="let item of problems">
                    {{item.index}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of dashboard.table; let i = index">
                <td scope="row" width="40px" style="padding: 3px; vertical-align: middle">{{i + 1}}</td>
                <td width="100%" style="padding: 3px; text-align: left; vertical-align: middle">{{row.name}}</td>
                <td align="center" width="30px" style="padding: 3px; vertical-align: middle">{{row.score}}</td>
                <td align="center" width="30px" style="padding: 3px; vertical-align: middle"
                    *ngIf="contest.scoringSystem == 'ACM'">{{row.penalty}}
                </td>
                <td align="center" width="30px" style="padding: 3px; vertical-align: middle"
                    *ngFor="let problem of problems">
                    <div *ngIf="row.problemResults[problem.id]; let variable">
                        <span
                                [style.color]="variable.success == true ? 'green' : (variable.success == false ? 'red' : null)"
                                [style.font-weight]="variable.success ? 'bold' : null"
                                *ngIf="contest.scoringSystem == 'ACM'">
                            {{variable.success ? '+' : '-'}}{{variable.attempts}}
                        </span>
                        <span
                                [style.color]="variable.success == true ? 'green' : (variable.success == false ? 'red' : null)"
                                [style.font-weight]="variable.success ? 'bold' : null"
                                *ngIf="contest.scoringSystem == 'KIROV'">
                            {{variable.score}}
                        </span>
                        <span style="font-size: 12px;">{{renderLastTime(variable.lastTime)}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
