<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/contests">Contests</a></li>
            <li><a routerLink="/about">About</a></li>
        </ul>
        <form *ngIf="!username || username == ''" class="navbar-form navbar-right">
            <input class="form-control" type="text" placeholder="Login" [(ngModel)]="usernameInput" name="username" required>
            <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
            <button class="btn btn-success" type="submit" (click)="logIn()">Log-in</button>
            <button class="btn btn-primary" type="submit" (click)="signIn()">Sign-in</button>
        </form>
        <div *ngIf="username && username != ''" class="navbar-right">
            <span>Welcome, {{username}}</span>
            <button class="btn btn-outline-success " (click)="logOut()">Log-out</button>
        </div>
    </div>
</nav>
