<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/contest/{{contestId}}">Info</a></li>
            <li *ngIf="role != 'ANONYMOUS'"><a routerLink="/u/contest/{{contestId}}/problems">Problems</a></li>
            <li *ngIf="role != 'ANONYMOUS'"><a routerLink="/u/contest/{{contestId}}/submissions">Submissions</a></li>
            <li *ngIf="role != 'ANONYMOUS'"><a routerLink="/u/contest/{{contestId}}/submit">Submit</a></li>
        </ul>
    </div>
</nav>
