<common-toolbar></common-toolbar>
<div class="container">
    <div class="row"><p></p></div>
    <div class="row">
        <button type="button" *ngIf="role == 'ADMIN'" class="btn btn-primary float-right mt-1 mr-1"
                routerLink="/a/contests/new">Create contest
        </button>
    </div>
    <div class="row"><p></p></div>
    <div class="row">
        <table class="table table-striped table-bordered" style="text-align: center">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Start</th>
                <th>Duration</th>
                <th *ngIf="role == 'ADMIN'"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contest of contests">
                <th scope="row" style="width: 30px">{{contest.id}}</th>
                <td><a routerLink="/contest/{{contest.id}}">{{contest.name}}</a></td>
                <td style="width: 180px">{{contest.startTime}}</td>
                <td style="width: 100px; text-align: center">{{contest.duration}}</td>
                <td *ngIf="role == 'ADMIN'" style="padding: 3px; width: 45px">
                    <button type="button" class="btn btn-primary" title="Edit contest"
                            routerLink="/a/contest/{{contest.id}}/edit">
                        <fa [name]="'pencil'"></fa>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
