<contest-toolbar [contestId]="contestId"></contest-toolbar>
<div class="container">
    <div class="row"><p></p></div>
    <form>
        <div class="form-group row">
            <label for="inputType">Choose input type:</label>
            <select id="inputType" class="form-control" [(ngModel)]="inputType" name="inputType">
                <option selected>Polygon zip</option>
                <option>Polygon API</option>
            </select>
        </div>
        <div *ngIf="inputType=='Polygon zip'" class="form-group row">
            <label for="file">Input file</label>
            <input type="file" id="file" class="form-control-file" (change)="fileChange($event)" name="file">
        </div>
        <div *ngIf="inputType=='Polygon API'" class="form-group row">
            Not supported :D
        </div>

        <span class="help-block">{{error}}</span>

        <button type="button" class="btn btn-primary" (click)="onSubmit()">Add problems</button>
    </form>
</div>
