<contest-toolbar [contestId]="contestId"></contest-toolbar>
<div class="container">
    <div class="row"><p></p></div>
    <div class="row">
        <div class="col-sm-2">
            <button *ngIf="role == 'ADMIN'" type="button" class="btn btn-primary"
                    routerLink="/a/contest/{{contestId}}/problem/add">
                Add problem
            </button>
        </div>
    </div>
    <div class="row"><p></p></div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Time limit</th>
            <th>Memory limit</th>
            <th *ngIf="role == 'ADMIN'">Answers generation status</th>
            <th *ngIf="role == 'ADMIN'"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let problem of problems">
            <td>{{problem.index}}</td>
            <td><a routerLink="/u/contest/{{contestId}}/problem/{{problem.index}}">{{problem.name}}</a></td>
            <td>{{problem.timeLimit}}</td>
            <td>{{problem.memoryLimit}}</td>
            <td *ngIf="role == 'ADMIN'">
                <span class="answerStatus" (click)="showAnswersGenerationMessage(problem)">
                    {{problem.answersGenerationStatus}}
                </span>
            </td>
            <td *ngIf="role == 'ADMIN'">
                <button *ngIf="role == 'ADMIN'" type="button" class="btn btn-primary"
                        (click)="generateAnswers(problem)">
                    Generate answers
                </button>
            </td>
            <td *ngIf="role == 'ADMIN'">
                <button type="button" class="btn btn-primary" title="Edit problem"
                        routerLink="/a/contest/{{contestId}}/problem/{{problem.index}}/edit">
                    <fa [name]="'pencil'"></fa>
                </button>
            </td>
            <td *ngIf="role == 'ADMIN'">
                <button type="button" class="btn btn-primary" title="Delete problem" (click)="deleteProblem(problem)">
                    <fa [name]="'trash'"></fa>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
