<contest-toolbar [contestId]="contestId"></contest-toolbar>
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <a (click)="openStatements()">Open statements</a>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" routerLink="/contest/{{contestId}}/problem/add">
                Add problem
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Time limit</th>
            <th>Memory limit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let problem of problems">
            <td>{{problem.id}}</td>
            <td>{{problem.name}}</td>
            <td>{{problem.timeLimit}}</td>
            <td>{{problem.memoryLimit}}</td>
        </tr>
        </tbody>
    </table>
</div>
