<contest-toolbar [contestId]="contestId"></contest-toolbar>
<div class="container" *ngIf="statements && (!statements.error || statements.error == '')">
    <div class="row"><p></p></div>
    <div align="center">
        <h2>{{statements.name}}</h2>
        <p>Time limit: {{statements.timeLimit}} ms</p>
        <p>Memory limit: {{statements.memoryLimit}} {{memoryUnits}}</p>
        <p>Input type: standard input or input.txt</p>
        <p>Output type: standard output or output.txt</p>
    </div>

    <p style="white-space: pre-line; line-height: 1.3; text-indent: 1.2em;">{{statements.legend}}</p>

    <h3>Input:</h3>
    <p style="white-space: pre-line; line-height: 1.3; text-indent: 1.2em;">{{statements.input}}</p>

    <h3>Output:</h3>
    <p style="white-space: pre-line; line-height: 1.3; text-indent: 1.2em;">{{statements.output}}</p>

    <h3>Sample tests:</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>input data</th>
            <th>output data</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sample of statements.sampleTests">
            <td style="white-space: pre-line">{{sample.input}}</td>
            <td style="white-space: pre-line">{{sample.output}}</td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="statements.notes != ''">
        <h3>Notes:</h3>
        <p style="white-space: pre-line; line-height: 1.3; text-indent: 1.2em;">{{statements.notes}}</p>
    </div>

    <div *ngIf="statements.hasPdf">
        <button class="btn btn-primary" (click)="openProblemPdf()">Download pdf</button>
    </div>

</div>
<div class="container" *ngIf="statements && statements.error && statements.error != ''">
    {{statements.error}}
</div>
<div class="container" *ngIf="notFound">
    Statement not found or not available
</div>
