<contest-toolbar [contestId]="contestId"></contest-toolbar>
<div class="container">
    <div class="row"><p></p></div>
    <table class="table">
        <tr>
            <td>Name</td>
            <td>{{contest.name}}</td>
        </tr>
        <tr>
            <td>Start time</td>
            <td>{{contest.startTime}}</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>{{contest.duration}} mins</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{contest.status}}</td>
        </tr>
    </table>
</div>
