<contest-toolbar [contestId]="contestId"></contest-toolbar>
<div class="container">
    <div class="row"><p></p></div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Contest id</th>
            <th>Problem id</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let submission of submissions">
            <td>{{submission.id}}</td>
            <td>{{submission.username}}</td>
            <td>{{submission.contestId}}</td>
            <td>{{submission.problemId}}</td>
            <td>{{submission.status}}</td>
        </tr>
        </tbody>
    </table>
</div>
