<contest-toolbar [contestId]="contestId"></contest-toolbar>
<div class="container">
    <div class="row"><p></p></div>
    <table class="table table-striped table-bordered"
           style="text-align: center;">
        <thead>
        <tr>
            <th style="width: 30px">#</th>
            <th style="width: 165px">Sent time</th>
            <th>User</th>
            <th>Problem</th>
            <th style="width: 140px">Status</th>
            <th style="width: 100px">Time</th>
            <th style="width: 100px">Memory</th>
            <th *ngIf="currentUserInfo.role == 'ADMIN'"  style="width: 85px">Rejudge</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let submission of submissions">
            <td align="center">
                <span class="submissionLink" routerLink="/u/contest/{{contestId}}/submission/{{submission.id}}">
                    {{submission.submissionId}}
                </span>
            </td>
            <td><small>{{submission.sendingTime}}</small></td>
            <td>{{submission.userName}}</td>
            <td>{{submission.problemName}}</td>
            <td [style.color]="getStatusColor(submission.status)" >
                <small style="font-weight: bolder">{{getStatusShowName(submission)}}</small>
            </td>
            <td>{{submission.usedTime}} ms</td>
            <td>{{submission.usedMemory}} Kb</td>
            <td *ngIf="currentUserInfo.role == 'ADMIN'" style="padding: 3px">
                <button type="button" class="btn btn-primary mt-1 mr-1"
                        (click)="rejudge(submission.id)">
                    Rejudge
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
