<common-toolbar></common-toolbar>
<div class="container">
    <div class="row"><p></p></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    User management
                </div>
            </div>
        </div>
    </div>
    <div class="row"><p></p></div>
    <div class="row">
        <div class="col-sm-8">
            <table class="table border">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Admin</th>
                    <th>Blocked</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td *ngIf="editingIndex == i">
                        <input type="text" class="form-control" [class.is-invalid]="validationResult.errors.username != null"
                               [(ngModel)]="formUser.username" name="username" (input)="fieldChanged('username')">
                        <span type="text" class="invalid-feedback">{{validationResult.errors.username}}</span>
                    </td>
                    <td *ngIf="editingIndex != i">{{user.username}}</td>

                    <td *ngIf="editingIndex == i">
                        <input type="text" class="form-control" [class.is-invalid]="validationResult.errors.password != null"
                               [(ngModel)]="formUser.password" name="password" (input)="fieldChanged('password')">
                        <span type="text" class="invalid-feedback">{{validationResult.errors.password}}</span>
                    </td>
                    <td *ngIf="editingIndex != i" (mouseenter)="changePasswordVisibility(user, true)"
                        (mouseleave)="changePasswordVisibility(user, false)">
                        <span *ngIf="user.passwordVisible">{{user.password}}</span>
                        <span *ngIf="!user.passwordVisible">&bull;&bull;&bull;&bull;&bull;&bull;</span>
                    </td>

                    <td *ngIf="editingIndex == i">
                        <input class="form-check-input" type="checkbox" id="userRole" name="userRole"
                               [(ngModel)]="isAdminChecked">
                    </td>
                    <td *ngIf="editingIndex != i">
                        <span *ngIf="user.isAdmin()"><fa [name]="'check'"></fa></span>
                    </td>

                    <td *ngIf="editingIndex == i">
                        <input class="form-check-input" type="checkbox" id="userBlocked" name="userBlocked"
                               [(ngModel)]="formUser.isBlocked">
                    </td>
                    <td *ngIf="editingIndex != i">
                        <span *ngIf="user.isBlocked"><fa [name]="'check'"></fa></span>
                    </td>

                    <td>
                        <button *ngIf="currentUser.id != user.id && editingIndex != i" type="button" class="btn btn-primary btn-sm"
                                title="Edit user"
                                (click)="editUser(i)">
                            <fa [name]="'pencil'"></fa>
                        </button>
                        <button *ngIf="currentUser.id != user.id && editingIndex == i" type="button" class="btn btn-primary btn-sm"
                                title="Save changes"
                                (click)="submitUserChanges()">
                            <fa [name]="'save'"></fa>
                        </button>
                        <button *ngIf="currentUser.id != user.id && editingIndex == i" type="button" class="btn btn-primary btn-sm"
                                title="Cancel changes"
                                (click)="cancelEditing()">
                            <fa [name]="'ban'"></fa>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Create user
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group">
                            <label for="userNumber"></label>
                            <input type="number" min="1" max="100" id="userNumber" class="form-control"
                                   [class.is-invalid]="validationResult.errors.userNumber != null"
                                   [(ngModel)]="userNumber" name="userNumber" (input)="fieldChanged('userNumber')"
                                   required>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" (click)="createNUsers()">
                                    Create users
                                </button>
                            </span>
                            <div type="text" class="invalid-feedback">{{validationResult.errors.userNumber}}</div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-primary">Show users' information summary</button>
        </div>
    </div>
</div>
