<common-toolbar></common-toolbar>
<div class="container">
    <div class="row"><p></p></div>
    <br>
    <form>
        <div class="form-group" [class.has-danger]="validationResult.errors.name != null">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" [class.is-invalid]="validationResult.errors.name"
                   [(ngModel)]="contest.name" name="contestName" style="width: 500px" required>
            <div type="text" class="invalid-feedback">{{validationResult.errors.name}}</div>
        </div>
        <div class="form-group" [class.has-danger]="validationResult.errors.startDate">
            <label for="name">Start date and time</label>
            <div id="startDate" class="input-group" style="width: 180px;">
                <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        [(ngModel)]="startDate"
                        ngbDatepicker
                        #d="ngbDatepicker"
                        [class.is-invalid]="validationResult.errors.startTime">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <fa [name]="'table'"></fa>
                    </button>
                </div>
                <ngb-timepicker
                        name="startTime"
                        [(ngModel)]="startTime"
                        [class.is-invalid]="validationResult.errors.startTime"
                        [spinners]="false"
                ></ngb-timepicker>
                <div type="text" class="invalid-feedback">{{validationResult.errors.startTime}}</div>
            </div>
        </div>
        <div class="form-group" style="width: 150px" [class.has-danger]="validationResult.errors.duration">
            <label for="duration">Duration in minutes</label>
            <input
                    type="number"
                    id="duration"
                    class="form-control"
                    [class.is-invalid]="validationResult.errors.duration"
                    [(ngModel)]="contest.duration"
                    name="duration"
                    required>
            <div type="text" class="invalid-feedback">{{validationResult.errors.duration}}</div>
        </div>
        <div class="form-group" style="width: 150px" [class.has-danger]="validationResult.errors.scoringSystem">
            <label for="scoring">Scoring system</label>
            <select id="scoring" [(ngModel)]="contest.scoringSystem" name="scoring"
                    [class.is-invalid]="validationResult.errors.scoringSystem">
                <option [ngValue]="null" [selected]="true">Select scoring...</option>
                <option *ngFor="let ss of scoringSystems">{{ss}}</option>
            </select>
            <small class="text-danger">{{validationResult.errors.scoringSystem}}</small>
        </div>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
            <span *ngIf="!editMode">Create</span>
            <span *ngIf="editMode">Edit</span>
            contest
        </button>
    </form>

</div>
