<common-toolbar></common-toolbar>
<div class="container">
    <div class="row"><p></p></div>
    <br>
    <form>
        <div class="form-group" [class.has-danger]="errorName != null">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" [class.is-invalid]="errorName != null"
                   [(ngModel)]="contest.name" name="contestName" required>
            <div type="text" class="invalid-feedback">{{errorName}}</div>
        </div>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Create contest</button>
    </form>

</div>
